/.idea/
/.vscode-test/
node_modules
**/.DS_Store
*.vsix
#
/out/
src/temp
src/test
*.log
*.zip
/.vscode/extensions.json
/.vscode/launch.json
/.vscode/settings.json
/.vscode/targets.log
/.vscode/tasks.json
